{% extends "base.html" %}
{% load static%}
{% block content %}

  <main id="main" class="main">


    <section class="section">
      <div class="row">
        

          <!-- Card with an image on left -->
          <div class="card mb">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{% static 'assets/img/gel_tube.jpg' %}" class="img-fluid rounded-start" alt="...">
              </div>
              <br>
              <br>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">LIVER FUNCTION TEST</h5>

                   
            
              <!-- Disabled Backdrop Modal -->
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#disablebackdrop">
                 + LFT Report
              </button>
              <div class="modal fade" id="disablebackdrop" tabindex="-1" data-bs-backdrop="false">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">LFT </h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      
                      
              <!-- Floating Labels Form -->
              <form class="row g-3" method = "POST" action = "{% url 'lft' %}">
                 {% csrf_token %}
                <div class="col-md-12">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingName" placeholder="Full Name" name='name' required>
                    <label for="floatingName">Full Name</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-floating mb-3">
                    <select class="form-select" id="floatingSelect" aria-label="Sex" name = 'sex' required>
                      <option value = "trans" selected>Trans</option>
                      <option value="female">Female</option>
                      <option value="male">Male</option>
                    </select>
                    <label for="floatingSelect">Sex</label>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingAge" placeholder="Age" name = 'age' required>
                    <label for="floatingAge">Age</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating">
                    <input type="date" class="form-control" id="floatingDate" placeholder="Date" name = 'date' required>
                    <label for="floatingDate">Submission date</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="col-md-12">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="floatingTotalBil" placeholder="total-bil" name = 'total_bil' required>
                      <label for="floatingTotalBil">total bil</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingDirectBil" placeholder="direct-bil" name = 'direct_bil' required>
                    <label for="floatingDirectBil">direct bil</label>
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingAlkP" placeholder="alk-phos" name = 'alk_phos' required>
                    <label for="floatingAlkP">alp</label>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingGpt" placeholder="gpt" name = 'gpt' required>
                    <label for="floatingGpt">gpt</label>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingGot" placeholder="got" name = 'got' required>
                    <label for="floatingGot">got</label>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingGgt" placeholder="ggt" name = 'ggt' required>
                    <label for="floatingGgt">ggt</label>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingProt" placeholder="prot" name = 'prot' required>
                    <label for="floatingProt">T. protein</label>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingAlb" placeholder="Alb" name = 'alb' required>
                    <label for="floatingAlb">Alb</label>
                  </div>
                </div>
                <div class="modal-footer">
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="reset" class="btn btn-warning">Reset</button>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
                </div>
              </form><!-- End floating Labels Form -->
              </div><!-- End Disabled Backdrop Modal-->

            
          </div>
                </div>
              </div>
            </div>
          </div><!-- End Card with an image on left -->

        

        

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Trending LFT reports.</h5>

              <!-- Table with hoverable rows -->
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Sex</th>
                    <th scope="col">Date</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                {% for lft_list in lft_lst reversed %}
                  <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><a href="{% url 'lft-profile' lft_list.id %}">{{lft_list.name}}</a></td>
                    <td>{{lft_list.age}}</td>
                    <td>{{lft_list.sex}}</td>
                    <td>{{lft_list.date}}</td>                                                                                                                                
                    <td><a href = "{% url 'lft_report' lft_list.id %}" class="btn btn-primary">Generate report</a></td>
                    
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              <!-- End Table with hoverable rows -->

            </div>
          </div>

        
      </div>
    </section>

  </main><!-- End #main -->


{% endblock content %}