{% extends "base.html" %}
{% load static%}
{% block content %}


  <main id="main" class="main">

    <div class="pagetitle">
      <h1>CBC - Profile</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item active"><a href="{% url 'cbc' %}" > Back </a></li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

              
              <h2>{{cbc.name}}</h2>
              <br>
              <h3>{{cbc.age}} yrs, {{ cbc.sex }}</h3>
              
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Update</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-delete">Delete</button>
                </li>

 

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title">About</h5>
                  <p class="small fst-italic">Please do confirm the entered values before you proceed to print.</p>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Submission Date</div>
                    <div class="col-lg-9 col-md-8">{{cbc.date}}</div>
                  </div>
                  <h5 class="card-title">Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Unique Report ID</div>
                    <div class="col-lg-9 col-md-8">{{ cbc.report_id }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">wbc</div>
                    <div class="col-lg-9 col-md-8">{{cbc.wbc}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">rbc</div>
                    <div class="col-lg-9 col-md-8">{{cbc.rbc}}</div>
                  </div>

                   <div class="row">
                    <div class="col-lg-3 col-md-4 label">plt</div>
                    <div class="col-lg-9 col-md-8">{{cbc.plt}}</div>
                  </div>

                   <div class="row">
                    <div class="col-lg-3 col-md-4 label">hb</div>
                    <div class="col-lg-9 col-md-8">{{cbc.hb}}</div>
                  </div>
                  
                   <div class="row">
                    <div class="col-lg-3 col-md-4 label">lym</div>
                    <div class="col-lg-9 col-md-8">{{cbc.lym}}</div>
                  </div>

                   <div class="row">
                    <div class="col-lg-3 col-md-4 label">lym %</div>
                    <div class="col-lg-9 col-md-8">{{cbc.lym_p}}</div>
                  </div>

                   <div class="row">
                    <div class="col-lg-3 col-md-4 label">hct</div>
                    <div class="col-lg-9 col-md-8">{{cbc.hct}}</div>
                  </div>

                   <div class="row">
                    <div class="col-lg-3 col-md-4 label">mch</div>
                    <div class="col-lg-9 col-md-8">{{cbc.mch}}</div>
                  </div>

                   <div class="row">
                    <div class="col-lg-3 col-md-4 label">mchc</div>
                    <div class="col-lg-9 col-md-8">{{cbc.mchc}}</div>
                  </div>

                   <div class="row">
                    <div class="col-lg-3 col-md-4 label">mcv</div>
                    <div class="col-lg-9 col-md-8">{{cbc.mcv}}</div>
                  </div>

                   <div class="row">
                    <div class="col-lg-3 col-md-4 label">pcv</div>
                    <div class="col-lg-9 col-md-8">{{cbc.pcv}}</div>
                  </div>

                <div class="row">
                    <div class="col-lg-3 col-md-4 label">rdw</div>
                    <div class="col-lg-9 col-md-8">{{cbc.rdw}}</div>
                </div>

                  
                    <div class="text-center">
                      
                    </div>

                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form action = "" method = "POST">
                  {% csrf_token %}
                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Full Name</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="name" type="text" class="form-control" id="fullName" value="{{cbc.name}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="sex" class="col-md-4 col-lg-3 col-form-label">Sex</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="sex" type="text" class="form-control" id="sex" value="{{cbc.sex}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="age" class="col-md-4 col-lg-3 col-form-label">Age</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="age" type="text" class="form-control" id="age" value="{{cbc.age}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="date" class="col-md-4 col-lg-3 col-form-label">Submission Date</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="date" type="date" class="form-control" id="date" value="{{cbc.date}}" required>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="wbc" class="col-md-4 col-lg-3 col-form-label">WBC</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="wbc" type="text" class="form-control" id="wbc" value="{{cbc.wbc}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="rbc" class="col-md-4 col-lg-3 col-form-label">RBC</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="rbc" type="text" class="form-control" id="rbc" value="{{cbc.rbc}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="plt" class="col-md-4 col-lg-3 col-form-label">PLT</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="plt" type="text" class="form-control" id="plt" value="{{cbc.plt}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="hb" class="col-md-4 col-lg-3 col-form-label">HB</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="hb" type="text" class="form-control" id="hb" value="{{cbc.hb}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="mch" class="col-md-4 col-lg-3 col-form-label">MCH</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="mch" type="text" class="form-control" id="mch" value="{{cbc.mch}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="mchc" class="col-md-4 col-lg-3 col-form-label">MCHC</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="mchc" type="text" class="form-control" id="mchc" value="{{cbc.mchc}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="mcv" class="col-md-4 col-lg-3 col-form-label">MCV</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="mcv" type="text" class="form-control" id="Instagram" value="{{cbc.mcv}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="pcv" class="col-md-4 col-lg-3 col-form-label">PCV</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="pcv" type="text" class="form-control" id="Linkedin" value="{{cbc.pcv}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="hct" class="col-md-4 col-lg-3 col-form-label">HCT</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="hct" type="text" class="form-control" id="Linkedin" value="{{cbc.hct}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="lym" class="col-md-4 col-lg-3 col-form-label">LYM</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="lym" type="text" class="form-control" id="lym" value="{{cbc.lym}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="lym_p" class="col-md-4 col-lg-3 col-form-label">LYM %</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="lym_p" type="text" class="form-control" id="lym_p" value="{{cbc.lym_p}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="rdw" class="col-md-4 col-lg-3 col-form-label">RDW</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="rdw" type="text" class="form-control" id="rdw" value="{{cbc.rdw}}">
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>

                
                <div class="tab-pane fade pt-3" id="profile-delete">

                  <!-- Delete Form -->
                    
                    <div class="text-center">

                    <h3 style="font-size:16px; font-weight: bold">Note. The entire CBC record in the clients name will be deleted permanently.</h3>

                    </div>
                 
                    <div class="text-center">
                       <div class="d-grid gap-2 mt-3">
                       <a href="{% url 'delete_cbc' cbc.id %}" class="btn btn-danger">D - e - l - e - t - e</a>
                      </div>
                    </div>
                  <!-- End settings Form -->

                </div>
                

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->


{% endblock content%}